h1 {
  //background-image: url("minion.jpg");
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1px;
}

h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 35px;
  line-height: 50px;
}

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  line-height: 32px;
  font-weight: 100;
}

em {
  color: #E9967A;
}

strong {
}

ol {
  font-size: 25px;
  line-height: 32px;
  font-weight: 100;
}

ul {
  font-size: 25px;
  line-height: 32px;
  font-weight: 100;
}

li {
  font-size: 15px;
  line-height: 32px;
  font-weight: 100;
}

.p1, l1, h1 {
  //position: relative;
}

#profile {
  border-radius: 100%;
}
