
/*this is the navbar setting*/

h5 {
    font-family: fantasy;
    text-align: center;
}

.title{
  font-size: 23px;
}

/* this is home page setting*/
#cover {
  background: url("minion.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  margin-top: -50px;
  margin-bottom: -10px;
  font-family: fantasy;
}

.cover-content {
  box-sizing: border-box;
  position: relative;
  top: 420px;
  font-size: 60px;
  text-decoration: underline;
  font-family: fantasy;
  text-align: center;
}

.movies {
  background: #EEEFF1;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.movie {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  width: 45%;
}

.movie img {
  width: 80%;
}

.header {
  font-size: 35px;
  font-family: fantasy;
}
.para1{
  font-size: 30px;
}

.para2 {
  font-size: 25px;
}

/*this is for Rating page*/
.guide {
  font-size: 15px;
}

.rating {
  font-size: 30px;
}
/*this is for the page of year made*/
.year {
  font-size: 20px;
}
em {
  color: #E9967A;
}
.para3 {
  font-size: 20px;
}
.inter {
  font-size: 20px;
}
strong{
  color: #E9967A;
}

#profile {
  border-radius: 100%;
}

/*search*/

input {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-size: 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/*When the input field gets focus, change its width to 100%*/
input:focus {
    width: 50%;
}
