body{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h4 {
	font-family: "Arial Black", Gadget, sans-serif;
}

h5 {
	font-family: "Arial Black", Gadget, sans-serif;
}

#bar {
	background-color: #000000;
}

h5 {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #808080;
    color: #FFFF00;
}

.navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000000;
      background: #808080;
      padding: 5px, 20px;
 }