
/*this is the navbar setting*/

h5 {
    font-family: fantasy;
    text-align: center;
}

.title{
  font-size: 23px;
}

/* this is home page setting*/
#cover {
  background: url("minion.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  margin-top: -50px;
  margin-bottom: -10px;
  font-family: fantasy;
}

.cover-content {
  box-sizing: border-box;
  position: relative;
  top: 420px;
  font-size: 60px;
  text-decoration: underline;
  font-family: fantasy;
  text-align: center;
}

.movies {
  background: #EEEFF1;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.movie {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  width: 45%;
}

.movie img {
  width: 80%;
}

.header {
  font-size: 35px;
  font-family: fantasy;
  text-align: center;
  margin-top: 2%;
}
.para1{
  font-size: 30px;
}

.para2 {
  font-size: 25px;
}

p {
    font-size: 15px;
}
/*this is for Rating page*/
.guide {
  font-size: 15px;
}

.rating {
  font-size: 30px;
}
/*this is for the page of year made*/
.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	height: 350px;
  width:260px;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 13px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

em {
  color: #E9967A;
  font-family: fantasy;
}
.para3 {
  font-size: 25px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.inter {
  font-size: 20px;
}
strong{
  color: #E9967A;
}

hr {
  border: 1px solid #778899;
  width:70%;
}

/*about us page*/

#profile {
  border-radius: 100%;
  margin:5%;
}

/*search*/

input {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-size: 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/*photo collage*/
#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 20;
  -webkit-column-gap:   0px;
  -moz-column-count:    20;
  -moz-column-gap:      0px;
  column-count:         20;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
